<img src="cover.jpg" align="left" />
Perkenalkan, nama saya  Ibra. Ini adalah homepage pertama saya, karena saya baru belajar tentang cara membuat homepage.
Hompage ini masih dalam tahap pengembangan, oleh karena itu tampilannya masih terlalu <img src="logo lexus.png" alt="Logo" /> sederhana. Saya akan berusaha untuk terus memperbaiki homepage saya ini, sehingga semakin lama semakin menarik untuk dilihat.

Saya ingin melihat <a href="hal2.html">halaman selanjutnya</a>. Saya ingin langsung menuju ke <a href="hal2.html#akhir">bagian akhir</a>. Saya ingin menuju ke <a href="hal2.html#bawah">bagian bawah pada halaman selanjutnya</a>.<br /><a href="http://www.detik.com"></a>. Homepage detik.com.<br />Ini bagian tengah.<br /><a name="#akhir"ini bagian akhir.</a>

<a href="http://www.elearning.uad.ac.id">
<img src="new elearning logo.png"></a>

<a href="mailto:alitarmuji@uad.ac.id">Email saya</a>
