<p>Kata dapat dicetak <b>tebal</b>, <i>miring</i>, <u>garis bawah</u>, <b>tebal <i>miring</i></b>, dan <b><i><u>kombinasi</u></i></b> di tengah huruf normal.

<b>Miftahul Ibra Budi Hartawan</b>
<i>2000018387</i>
<u>Pemrograman Web</u>
<b><i><u>Teknik Informatika</u></i></b>
</p>